Blue=BlueBlock.png
Background=Space.png
Box=Box.png
Button=Button.png
Cyan=CyanBlock.png
Down=Down.png
Gray=GrayBlock.png
Green=GreenBlock.png
Left=Left.png
Mute=Mute.png
Orange=OrangeBlock.png
Pink=PinkBlock.png
Play=Play.png
Purple=PurpleBlock.png
Red=RedBlock.png
Reset=Reset.png
Right=Right.png
Stop=Stop.png
Up=Up.png
Voluble=Voluble.png
Yellow=YellowBlock.png